@import "/src/sassVariables";
@import "/src/formInput";


.login {
    &__items {
        display: flex;
        justify-content: flex-start;
        height: 100vh;
    }

    &__item {
        flex: 1;
        display: flex;
        justify-content: center;

    }
    &__item__inner {
        margin-top: 40%;

    }
    &__header{
        &--primary {
          margin-top: 5%;
          text-align: center;  
          color: #000000;
        }
        &--subtitle {
            text-align: center;  
            font-size: 1.5rem;
          }
        &--secondary {
            color: $color-medium-gray;
            
        }
    }
    &__input{
        &--topper {
            margin-left: .5rem;
          }
    }

    &__container {
        max-width: 600px;
        display: block;
        padding: 10rem;
    }

}

@media (max-width: 1124px) {
    .login {
        &__item1 {
            display:none !important;
        }
    }
}

@media (max-width: 492px) {
    .login {
        &__container {
            padding: 3rem;
        }
    }
}




  