@import "/src/sassVariables";
@import "/src/formInput";


.forPass {
    &__items {
        display: flex;
        justify-content: flex-start;

        height: 100vh;
    }

    &__item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__header{
        &--primary {
            margin: -.2rem;
            
        }
        &--secondary {
            margin: -.2rem;
            color: $color-medium-gray;
            
        }
    }

    &__container {
        max-width: 600px;
        display: block;
        padding: 10rem;
    }

}



@media (max-width: 1124px) {
    .forPass {
        &__item1 {
            display:none !important;
        }
    }
}

@media (max-width: 492px) {
    .forPass {
        &__container {
            padding:3rem;
        }
    }
}


  