@import "/src/sassVariables";

.ButtonLink {
    padding: 1rem 2rem;
    margin: .5rem;
    border: .2rem solid $color-primary;
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;
    background-color: $color-white;
    font-weight: 400;
    font-size: 1.6rem;
    transition: all .2s ease-out;
    &:hover {
        background-color: $color-light-gray;
        box-shadow: 0px .3rem .5rem rgba($color-gray,0.4)

    }
}